body, h1, p { 
    margin: 0; 
    padding: 0; 
} 
 

body { 
 
    background-size: cover;
    background-repeat: no-repeat; 
    font-family: Arial, sans-serif; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
} 
 

.business-card { 
    width: 500px; 
    background-color: #590928;  
    padding: 20px; 
    box-shadow: 0px 0px 10px #590928; 
    display: flex; 
    align-items: center; 
} 
 

.profile-picture { 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    margin-right: 20px; 
} 


.profile-picture img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
} 
 
 
.info { 
    flex: 1; 
} 
 
h1 { 
    font-size: 24px; 
    margin-bottom: 5px; 
} 
 
p { 
    font-size: 14px; 
    margin: 0; 
} 
 
 
@media (max-width: 768px) { 
    .business-card { 
        width: 100%; 
        flex-direction: column; 
    } 
 
    .profile-picture { 
        margin-right: 0; 
        margin-bottom: 20px; 
    } 
}
h1, p{
    color:white;
    font-family:verdana;
}
